* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    min-height: 100vh;
    position: relative;
}

body::before {
    background: url(https://images.pexels.com/photos/531756/pexels-photo-531756.jpeg);
    content: "";
    inset: 0;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(18px);
    z-index: -1;
    position: fixed;
}

h1 {
    font-size: clamp(1.5rem, 6vw, 2.5rem);
}

h2 {
    font-size: clamp(1.4rem, 4vw, 1.9rem);
    margin-bottom: 12px;
}

h3 {
    font-size: clamp(0.9rem, 4vw, 1rem);
}

p {
    font-size: clamp(0.8rem, 2vw, 1rem);
}

header, footer {
    background-color: #fc370c;
    color: #fff;
    text-align: center;
}

header {
    padding: 34px 0;
    margin-bottom: 12px;
    box-shadow: 0px 3px 0.8rem 2px rgba(0, 0, 0, 0.264);
}

footer {
    padding: 10px 0;
}

div.main {
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

div.card {
    display: flex;
    flex-direction: column;
    gap: 22px;
    align-items: center;
    padding: 22px 5px;
}

form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="text"] {
    width: 100%;
    max-width: 22rem;
    height: 2rem;
    border: 1px solid black;
    outline: none;
    border-radius: 22px;
    padding: 6px 14px;
}

button {
    height: 2rem;
    width: 2rem;
    border: none;
    background-color: transparent;
    color: #fff;
}

div.infos {
    background-color: #fc370c;
    color: #fff;
    width: 100%;
    max-width: 28rem;
    padding: 44px 16px;
    border-radius: 2rem;
}

div.info-principal {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

div.info-principal div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    width: 50%;
}

div.campo-imagem {
    display: flex;
    justify-content: center;
}

img {
    width: 60px;
}

div.infos-secundarias {
    display: flex;
    gap: 2px;
}

div.info-secundaria {
    background-color: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 1.6rem;
    padding: 22px 0;
}

div.info-secundaria div {
    display: flex;
    gap: 4px;
    align-items: center;
}